
<b>Přehled pohybů na účtu</b>
<br/><br/>

<button type="button" ng-click="go('/account')" class="btn btn-success" >
       <span class="glyphicon glyphicon-arrow-left"></span> Zpět na přehled účtů
</button>

<div ng-init="getAllAccountPayment()"> 

<table class="table table-striped table-hover">

   <thead>
      <tr>
        <th>Datum</th>
        <th>Částka</th>
        <th>Protiúčet</th>
      </tr>
    </thead>

  <tr ng-repeat="x in rowCollection">
    <td>{{ x.paymentDate }}</a></td>
    <td ng-class="{'plus-class': x.toAccount.id == detail_id, 'minus-class': x.toAccount.id != detail_id}">
      {{ getSign(x.toAccount.id) }} {{ x.paymentInfo.amount }} {{ x.toAccount.currency.symbol }}
    </td>
    <td>{{ x.toAccount.accountNumber }}</td>
  </tr>
</table>

</div>
