<b>Editace klientských údajů</b>
<br/><br/>

<form ng-submit="updateClient()" class="form-group" name="updateClientForm"> 
<div class="form-group"  ng-init="updateInit()">

<label for="emailInput">Kontaktní e-mail: *</label>
<input type="email" ng-model="clDetail.email" class="form-control" 
       id="emailInput" placeholder="E-mail" 
       maxlength="50" minlength="1" required style="width:250px"><br/>

<label for="telephoneNumberInput">Telefon: *</label>
<input type="text" ng-model="clDetail.telephoneNumber" class="form-control" 
       id="telephoneNumberInput" placeholder="Telefon" 
       maxlength="50" minlength="1" required style="width:250px"><br/>

<label for="passwordInput">Heslo: *</label>
<input type="password" ng-model="clDetail.password" class="form-control" 
       id="passwordInput" placeholder="Heslo" 
       maxlength="100" minlength="1" required style="width:250px"><br/>
* Povinné položky    
</div>
<button type="submit" class="btn btn-success" ng-disabled="updateClientForm.$invalid" id="createButton">
<span class="glyphicon glyphicon-ok"></span> Potvrdit změny
</button> 
</form>
<p></p>

